.header {
    height: 140px;
    background-color: red;
}
.footer {
    height: 140px;
    background-color: green;
}
.content-left {
    min-height: 20px;
    background-color: yellow;
}
.content-right {
    min-height: 20px;
}